


<div id="main" class="eight columns" ng-controller="singleCtrl">

   			<article class="entry">

					<header class="entry-header">

						<h2 class="entry-title">
                          {{post.title}}
						</h2> 				 
				
						<div class="entry-meta">
							<ul>
								<li>{{post.date}}</li>
								<span class="meta-sep">&bull;</span>							
								
								<li>{{post.author}}</li>
							</ul>
						</div> 
				 
					</header> 
				
				

				</article>

            <div id="comments">

               <h3>{{comments.length}} Comments</h3>

               <!-- commentlist -->
               <ol class="commentlist">

                  <li   ng-repeat="comment in comments" class="depth-1">

                     <div class="avatar">
                        <img width="50" height="50" class="avatar" src="images/user-01.png" alt="">
                     </div>

                     <div class="comment-content">

	                     <div class="comment-text">
	                        <p>{{comment.body}}</p>
	                     </div>

	                  </div>

                  </li>

                 </ol>

				  <form name="contactForm" id="contactForm" method="post" action="">
  					   <fieldset>

                     <div class="group">
  						      <label for="txtComment">Add Comment <span class="required">*</span></label>
  						      <input name="txtComment" type="text"  ng-model="comment" value="" required />
							  
							  
                     </div>

                     
                     <button type="button" class="submit" ng-click=createComment()>Submit</button>
					  <span>{{Message}}</span>
				 
				 </form>
            </div>
</div>  